ul li {
    list-style: none;

    display: block;
}

.container {
    display: grid;
    /* the middle column have 3/5 of the total width while eache other have 1/5 */
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: var(--medium-size-fluid);
}

header,
footer {
    grid-column: span 3;

    background-color: var(--bg-lighter);

    text-align: center;

    padding: 2rem 0;
}

nav {
    padding: var(--medium-size-fluid);

    border-right: 1px solid var(--accent);
}

nav p {
    margin-bottom: var(--small-size-fluid);
}

article {
    padding: var(--medium-size-fluid);
}

article h2 {
    font-size: var(--large-size-fluid);

    max-width: 800px;
}

article img {
    padding-block: var(--medium-size-fluid);
}

article p {
    line-height: 2rem;

    margin-bottom: var(--small-size-fluid);
}

aside {
    padding: var(--medium-size-fluid);

    border-left: 1px solid var(--accent);
}

aside h3 {
    font-size: 14px;

    margin-top: var(--small-size-fluid);
}

aside li:first-child h3 {
    margin-top: 0;
}

aside p {
    color: var(--text-grey);
}

aside p,
aside a {
    font-size: 12px;
}

@media screen and (max-width: 1000px) {
    nav {
        /* the nav stretch to all 3 columns, so the other will be on a different row */
        grid-column: span 3;

        border-right: none;
        border-bottom: 1px solid var(--accent);
    }

    nav li {
        display: inline-block;
        margin: 0 var(--small-size-fluid);
    }

    article {
        /* without saying how much the article should stretch, the article will have the first column(1fr) and the aside the 2nd(3fr) */
        grid-column: span 2;
    }
}

@media screen and (max-width: 900px) {
    /* each item stretch 3 columns now, so each one have a row */
    article,
    aside {
        grid-column: span 3;
    }

    aside {
        border-left: none;
        border-top: 1px solid var(--accent);
    }

    aside ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: var(--small-size-fluid);
    }
    aside h3 {
        margin-top: 0;
    }
}
