<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Multi Column Layout</title>

        <link rel="stylesheet" href="/css/multi.css" />
    </head>
    <body>
        <main class="content">
            <header>
                <h1>Globe Roamer</h1>
            </header>

            <main class="container">
                <article class="featured">
                    <img src="https://picsum.photos/700/400?random=1" alt="featured image" />
                    <div>
                        <h2>Ballon Magic</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, omnis molestias
                            reiciendis maxime eligendi necessitatibus corrupti cum quam iusto illum nihil consectetur
                            exercitationem facere neque laborum reprehenderit non quisquam illo sunt aliquam? Eos
                            impedit quod nihil accusamus saepe tempora? Ratione.
                        </p>
                    </div>
                </article>

                <article>
                    <img src="https://picsum.photos/700/400?random=2" alt="first article" />
                    <div>
                        <h3>Ballon Magic</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolorem sint adipisci
                            voluptatem ab, sed quos quis qui maxime veniam?
                        </p>
                    </div>
                </article>
                
                <article>
                    <img src="https://picsum.photos/700/400?random=3" alt="second article" />
                    <div>
                        <h3>Road to Freedom</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolorem sint adipisci
                            voluptatem ab, sed quos quis qui maxime veniam?
                        </p>
                    </div>
                </article>

                <article>
                    <img src="https://picsum.photos/700/400?random=4" alt="third article" />
                    <div>
                        <h3>The Clear Blue</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolorem sint adipisci
                            voluptatem ab, sed quos quis qui maxime veniam?
                        </p>
                    </div>
                </article>
            </main>
        </main>

        <script type="module" src="../main.js"></script>
    </body>
</html>
