<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio Layout</title>

        <link rel="stylesheet" href="/css/portfolio.css" />
    </head>
    <body>
        <main class="content">
            <div class="container">
                <div class="panel welcome">
                    <nav>
                        <a href="#">Home</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Contact</a>
                    </nav>

                    <div>
                        <h1>Mayron</h1>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maiores illo aspernatur autem
                            quis veritatis consectetur aperiam laudantium asperiores optio. Voluptate veritatis
                            recusandae dolores eius sunt aliquid vel ratione amet!
                        </p>
                    </div>

                    <footer>
                        <small>made with ❤️ by <a href="https://github.com/mayronH">mayronH</a></small>
                    </footer>
                </div>

                <div class="panel about">
                    <img src="https://picsum.photos/seed/eula/593/723" alt="main image" />

                    <div class="text">
                        <h2>About me</h2>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ratione est esse?</p>
                    </div>
                </div>

                <div class="panel photos">
                    <div class="text">
                        <h2>Photography</h2>

                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil tenetur corrupti, deleniti tempore libero mollitia.</p>
                    </div>

                    <img src="https://picsum.photos/seed/ibaraki/602/691" alt="photography image" />
                </div>
            </div>
        </main>

        <script type="module" src="../main.js"></script>
    </body>
</html>
