<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>12 Column Layout</title>

        <link rel="stylesheet" href="/css/twelve.css" />
    </head>
    <body>
        <main class="content">
            <header class="container">
                <h1>12 Col Grid</h1>

                <nav>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                </nav>
            </header>
            <main class="container">
                <section class="welcome container">
                    <img src="https://picsum.photos/700/400" alt="Random Image" />
                    <div class="welcome-card">
                        <h2>Welcome</h2>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt maxime suscipit
                            praesentium quam vitae quasi, in sed delectus tempora nemo dicta nisi quo reprehenderit
                            dolores nesciunt. Possimus nihil saepe vitae?
                        </p>
                    </div>
                </section>

                <section class="services container">
                    <h2>Services</h2>
                    <div class="card">
                        <h3>Hello</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus facilis accusantium eius
                            voluptate quasi facere.
                        </p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>

                    <div class="card">
                        <h3>Hello</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus facilis accusantium eius
                            voluptate quasi facere.
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quisquam?</p>
                    </div>

                    <div class="card">
                        <h3>Hello</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus facilis accusantium eius
                            voluptate quasi facere.
                        </p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, non!</p>
                    </div>
                </section>
            </main>
        </main>

        <script type="module" src="../main.js"></script>
    </body>
</html>
